---
layout: default
title: Robert's Blog
---

{% for post in paginator.posts %}
<div class="posts">
  <h1 class="posts-title">
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h1>
  <span class="post-date">{{ post.date | date_to_string }}</span>
  {% if post.image.feature %}
  <div class="thumbnail-container">
    <a href="{{ site.github.url }}{{ post.url }}">
      <img src="{{ site.github.url }}/assets/img/{{ post.image.feature }}">
    </a>
  </div>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
  </p>
</div>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next"
       href="{{ site.github.url }}{{ paginator.next_page_path }}">Older</a>
  {% else %}
    <span class="pagination-button">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Newer</a>
  {% else %}
    <span class="pagination-button">Newer</span>
  {% endif %}
</div>
{% endif %}
